{{#ma-card title=(t 'labels.jobs')}}
  <table class="table">
    <thead>
      <tr>
        <th>任务名称</th>
        <th>任务号</th>
        <th>Cron</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |job|}}
        <tr>
          <th>{{t job.id}}</th>
          <th>{{job.jobkey}}</th>
          <th>{{job.cron}}</th>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/ma-card}}