<ul class="header-inner">
  <li class="logo hidden-xs">
    {{#link-to indexRoute}}
    <strong>{{logo}}</strong> {{/link-to}}
  </li>

  <li class="pull-right">
    <ul class="top-menu">
      {{yield}}
    </ul>
  </li>
</ul>
